body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
}

.calculator {
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    font-size: 1.5em;
    border: none;
    outline: none;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
    transition: background-color 0.3s;
}

.operator-button {
    background-color: #f3af5a;
    color: #fff;
}

.equals-button {
    grid-column: span 2;
    background-color: #70c7a7;
    color: white;
}

.clear-button,
.backspace-button {
    background-color: #e74c3c;
    color: white;
}
